<!DOCTYPE html>
<html lang="en">
  <head>
    {include file='public/meta'}
  </head>

  <body class="nav-md">
    <div class="container body" style="width:100%;padding:0;margin:0;">
      <div class="main_container">
        <div class="col-md-3 left_col">
            {include file="public/menu"}
        </div>

        <!-- 头部 -->
        <div class="top_nav">
          {include file="public/header"}
        </div>
        <!-- 头部 -->

        <!-- 主体 -->
        <div class="right_col" role="main">
            {__CONTENT__}
        </div>
        <!-- 主体 -->

        <!-- 尾部 -->
        <footer>
            {include file="public/footer"}
        </footer>
        <!-- 尾部 -->
      </div>
    </div>
    <!-- 脚本 -->
    {include file='public/script'}
    <!-- 脚本 -->	
  </body>
</html>
